.view-all {
  height: 100vh;
  font-size: 1.5em;
}

.loading {
  animation: spin infinite 1.8s linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

a:hover {
  text-decoration: none;
}

.text-size {
  font-size: 1.1em;
}

.arrow {
  font-size: 1.9em;
}

.arrow-orientation {
  transform: rotate(90deg) ;
}

.fixed-bottom {
  left: initial;
}

.icon {
  font-size: 1.3em
}

.badge-size {
  font-size: 0.8em;
}

.badge-Grass {
  background-color: rgb(2, 187, 2);
}

.badge-Poison {
  background-color: blueviolet;
}

.badge-Fire {
  background-color: red;
}

.badge-Flying {
  background-color: cornflowerblue;
}

.badge-Water {
  background-color: dodgerblue;
}

.badge-Bug {
  background-color: darkgreen;
}

.badge-Normal {
  background-color: grey;
}

.badge-Electric {
  background-color: rgb(255, 187, 0);
}

.badge-Ground {
  background-color: peru;
}

.badge-Fighting {
  background-color: maroon;
}

.badge-Psychic {
  background-color: magenta;
}

.badge-Rock {
  background-color: rgb(148, 116, 75);
}

.badge-Ice {
  background-color: darkturquoise;
}

.badge-Ghost {
  background-color: violet;
}

.badge-Dragon {
  background-color: mediumslateblue;
}

.badge-Dark {
  background-color: #535353;
}

@media screen and ( min-width : 768px ) {
  .img-poke {
    height: 40vh ;
  }
}
